@page "/app"
<PageTitle>App</PageTitle>
@rendermode InteractiveServer

<div class="container">
    <h3>Life Calendar App Page</h3>

    <div class="main">
        <div class="UI">
            <p>UI will go here</p>
            <InputFile id="csvFilePicker" OnChange="OnInputFileChange" accept=".csv"/>
        </div>
        <div @ref="_imageContainer" class="imageContainer"></div>
    </div>
    <p>@debugText</p>

    <button @onclick="DownloadToFile">Download</button>
    <button @onclick="RenderSkiaTest">Re-Render</button>
    <button @onclick="debug">debug</button>
</div>