@page "/app"
<PageTitle>App</PageTitle>
@rendermode InteractiveServer

<div class="container">
    <h3>Life Calendar App Page</h3>
    <p>App will go here</p>
</div>
@* <button @onclick="DownloadToFile"></button> *@