@page "/Samples"
@attribute [StreamRendering]

<PageTitle>Samples</PageTitle>

<div class="container">


    @if (images == null)
    {
        <p>Some images will go here</p>
    }
    else
    {
        foreach (var image in images)
        {
        }
    }

</div>