@page "/Samples"
@attribute [StreamRendering]

<PageTitle>Samples</PageTitle>

<div class="container">
    <h2>Showcase</h2>

    @if (_images == null)
    {
        <p>Loading images</p>
    }
    else
    {
        if (_images.Count > 0)
        {
            <div class="imageGrid">
                @foreach (var image in _images)
                {
                    var base64Data = Convert.ToBase64String(image.ImageData.ToArray());
                    var pngSrc = $"data:image/png;base64,{base64Data}";
                    <img alt="" src="@pngSrc"/>
                }

            </div>
        }
        else
        {
            <p>No images found</p>
        }
    }

</div>