<div class="container">
    <a class="header-link" href="">Home</a>
    <a class="header-link" href="App">App</a>
    <a class="header-link" href="HowTo">How-To</a>
    <a class="header-link" href="Samples">Sample Showcase</a>
</div>
