@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
   font-family: "Atkinson Hyperlegible", sans-serif;
}

a,
h1,
h2,
h3,
h4,
h5 {
   font-family: "Work Sans", sans-serif;
}

a {
   font-weight: 600;
}

h2 {
   padding-top: 50px;
   padding-bottom: 30px;

   &:focus {
      outline: none;
   }
}

.header-link {
   color: black;
   border-radius: 5px;
   padding: 5px;
   background-color: $color-header-button;
   text-decoration: none;

   @include transition((background-color, box-shadow));

   &:hover {
      background-color: darken($color-header-button, 7%);
      box-shadow: 0 0 10px 0px darken($color-header-background, 30%);
   }
}

.finePrint {
   font-size: 0.75rem;
   color: gray;
}

.responseText {
   display: inline;
   margin-left: 10px;
   animation: fadeOut 10s forwards;
   opacity: 1;
}

@keyframes fadeOut {
   0% {
      opacity: 1;
      visibility: visible;
   }
   70% {
      opacity: 1;
   }
   100% {
      opacity: 0;
      visibility: hidden;
   }
}

.unformattedBox {
   outline: 1px solid rgba(0, 0, 0, 0.5);
   width: fit-content;
   //white-space: pre;
   background-color: rgba(0, 0, 0, 0.1);
   padding: 10px;
   text-align: left;
   border-radius: 10px;
   line-height: 1.5;
}