@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}
* {
  font-family: "Atkinson Hyperlegible", sans-serif;
}

a,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Work Sans", sans-serif;
}

a {
  font-weight: 600;
}

h2 {
  padding-top: 50px;
  padding-bottom: 30px;
}
h2:focus {
  outline: none;
}

.header-link {
  color: black;
  border-radius: 5px;
  padding: 5px;
  background-color: #E1F1FF;
  text-decoration: none;
  transition-property: background-color, box-shadow;
  transition-duration: 0.3s;
}
.header-link:hover {
  background-color: rgb(189.3, 224.34, 255);
  box-shadow: 0 0 10px 0px rgb(47.8607594937, 118.3924050633, 151.1392405063);
}

.finePrint {
  font-size: 0.75rem;
  color: gray;
}

.responseText {
  display: inline;
  margin-left: 10px;
  animation: fadeOut 10s forwards;
  opacity: 1;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.unformattedBox {
  outline: 1px solid rgba(0, 0, 0, 0.5);
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: left;
  border-radius: 10px;
  line-height: 1.5;
}

button {
  border: 1px solid #87bfd9;
  border-radius: 5px;
  text-align: center;
  background-color: #E1F1FF;
}

input {
  border: 1px solid #87bfd9;
  border-radius: 5px;
}

input[type=text] {
  padding-left: 5px;
  height: 28px;
}

input[type=number] {
  max-width: 50px;
  text-align: justify;
  height: 28px;
}

input[type=date] {
  padding-left: 5px;
  height: 28px;
}

input[type=color] {
  vertical-align: middle;
  border: 1px solid #87bfd9;
  width: 40px;
  height: 28px;
  padding: 0;
  cursor: pointer;
}

input[type=checkbox] {
  position: relative;
  appearance: none;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  padding: 0px;
  border: solid 2px #87bfd9;
  border-radius: 3px;
}
input[type=checkbox]:hover {
  background-color: rgb(174, 217.2, 255);
}
input[type=checkbox]:checked {
  background-color: rgb(148.5, 205.3, 255);
  color: white;
}
input[type=checkbox]:checked:hover {
  background-color: #87bfd9;
}
input[type=checkbox]:checked::after {
  content: "✔";
  font-size: 12px;
  line-height: 0;
  position: absolute;
  top: 7px;
  left: 2px;
}

header {
  background-color: #87bfd9;
  padding: 16px 0;
}
header .container {
  display: flex;
  gap: 20px;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: auto;
  background-image: linear-gradient(#e5eff3, white);
  min-height: 100vh;
}

.container h1 {
  padding-top: 50px;
  padding-bottom: 30px;
}
.container .flexbox {
  display: flex;
  gap: 50px;
}
.container .flexbox .previewContainer {
  outline: 1px solid black;
}
.container .flexbox .previewContainer .sample {
  max-width: 20vw;
  object-fit: contain;
}

.container .appContainer {
  width: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container .appContainer .UI {
  text-wrap: nowrap;
  margin-right: 50px;
  width: 100%;
}
.container .appContainer .UI .border {
  border: 1px solid black;
  outline: none;
  padding: 10px;
}
.container .appContainer .UI .fontLoad input {
  min-width: 300px;
}
.container .appContainer .UI #lpList {
  list-style-type: none;
  margin-left: -25px;
}
.container .appContainer .UI .ButtonSortRemoveContainer {
  display: inline-flex;
  gap: 3px;
}
.container .appContainer .UI .ButtonSortRemoveContainer .ButtonSortRemove {
  height: 28px;
  width: 16px;
  padding: 0;
  margin: 0;
}
.container .appContainer .imageContainer {
  float: right;
  margin-top: 2vh;
  width: 25%;
}
.container .appContainer .imageContainer img {
  object-fit: contain;
  max-width: 50vw;
  max-height: 70vh;
  outline: 1px solid #87bfd9;
  padding: 1px;
}

.container .imageGrid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 15px;
}
.container .imageGrid img {
  width: 100%;
}

/*# sourceMappingURL=app.css.map */
