@import "scss/shared";

* {
   box-sizing: border-box;
}

html,
body {
   margin: 0;
   height: auto;
   background-image: linear-gradient($color-background, white);
   min-height: 100vh;
}

@import "scss/pages";