.container {
   h3 {
      padding-top: 50px;
      padding-bottom: 30px;
   }

   .main {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;


      .UI {
         //width: fit-content;
         text-wrap: nowrap;
         margin-right: 50px;
         width: 100%;

         .border {
            border: 1px solid black;
            outline: none;
            padding: 10px;
         }

         input[type="number"] {
            max-width: 50px;
            text-align: justify;
         }

         .fontLoad {
            input {
               min-width: 300px;
            }


         }

         input[type="color"] {
            vertical-align: middle;
         }

         #lpList {
            list-style-type: none;
            margin-left: -25px;
         }

         .ButtonSortRemove {
            height: 22px;
            width: 16px;
            margin-right: 2px;
            padding: 0;
            text-align: center;

            &:is(span) {
               display: inline-block;
               width: 14px;
            }
         }
      }

      .imageContainer {
         //margin-left: auto;
         margin-top: 2vh;
         width: 25%;

         img {
            object-fit: contain;
            max-width: 50vw;
            max-height: 70vh;

            outline: 1px solid black;
            padding: 1px;
         }
      }
   }
}