.container {
   .main {
      width: 100%;
      display: flex;

      .UI {
         width: fit-content;
         text-wrap: nowrap;
         margin-right: 50px;

         #lpList {
            list-style-type: none;
            margin-left: -25px;
         }

         .ButtonSortRemove {
            height: 22px;
            width: 16px;
            margin-right: 2px;
            padding: 0;
            text-align: center;

            &:is(span) {
               display: inline-block;
               width: 14px;
            }
         }
      }

      .imageContainer {
         margin-left: auto;

         img {
            object-fit: contain;
            max-width: 50vw;
            max-height: 70vh;

            outline: 1px solid black;
            padding: 1px;
         }
      }
   }
}