.container {
   h3 {
      padding-top: 50px;
      padding-bottom: 30px;
   }

   .appContainer {
      width: 10%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      //margin-bottom: 90vh;

      .UI {
         //width: fit-content;
         text-wrap: nowrap;
         margin-right: 50px;
         width: 100%;

         .border {
            border: 1px solid black;
            outline: none;
            padding: 10px;
         }

         .fontLoad {
            input {
               min-width: 300px;
            }
         }

         #lpList {
            list-style-type: none;
            margin-left: -25px;
         }

         .ButtonSortRemoveContainer {
            display: inline-flex;
            gap: 3px;

            .ButtonSortRemove {
               height: $height-lifeperiod;
               width: 16px;
               padding: 0;
               margin: 0;
            }
         }
      }

      .imageContainer {
         //margin-left: auto;
         margin-top: 2vh;
         width: 25%;

         img {
            object-fit: contain;
            max-width: 50vw;
            max-height: 70vh;

            outline: 1px solid $color-header-background;
            padding: 1px;
         }
      }
   }
}